<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>



<section class="wrapper style1 fullscreen">
  <div class="container" >
    <h3>Internal Server Error</h3>
    <p>
      Oops, looks like something went wrong. Please report the issue at our github repo, with details on how to reproduce this error. Thank you for your patience
    </p>
  </div>
</section>



<% include ../partials/footer.ejs %>
<% include ../partials/scripts.ejs %>


</body>
</html>
